// Foundation
@use '../foundation/mixins' as *;
@use '../foundation/variables' as *;

/* ============================================
// FOOTER
// ==========================================*/
.footer {
  margin-top: 150px;
  @include mq-down(md) {
    margin-top: 88px;
  }

  &__recruit {
    .recruit {
      &__head {
        // max-width: 1280px;
        padding: 0 40px;
        transform: translateY(100%);
        margin: 0 auto;
        margin-bottom: -40px;
        @include mq-down(md) {
          margin-bottom: -20px;
        }
      }
      &__body {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        @include mq-down(md) {
          display: block;
        }

        .img-holder {
          flex: 0 0 50%;
          .img {
            height: 600px;
            @include mq-down(md) {
              height: 240px;
            }
          }
        }
        .txt-holder {
          flex: 1 1 auto;
          background-color: #a1abb6;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;

          .wrap {
            width: 70%;
            margin: 0 auto;
            @include mq-down(xl) {
              margin: 32px auto;
            }
          }
          .lead {
            font-size: 3.6rem;
            line-height: 1.7;
            @include mq-down(md) {
              font-size: 2.3rem;
            }
          }
          .desc {
            margin-top: 32px;
            @include mq-down(md) {
              margin-top: 24px;
            }
          }
          .c-more-btn {
            margin-top: 28px;
            @include mq-down(md) {
              margin-top: 24px;
            }
          }
        }
      }
    }
  }
  &__body {
    padding-top: 90px;
    padding-bottom: 24px;
    background-color: #f4f5f6;
    @include mq-down(md) {
      padding-top: 48px;
      padding-bottom: 56px;
    }

    &__top {
      a {
        display: block;
        @include mq-up(md) {
          transition: opacity 0.5s;
          &:hover {
            opacity: 0.8;
          }
        }
      }
      .img {
        width: 296px;
        @include mq-down(md) {
          width: 222px;
          margin: 0 auto;
        }
      }
    }
    &__bottom {
      margin-top: 100px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      @include mq-down(md) {
        margin-top: 50px;
        display: block;
      }
    }

    &__info {
      flex: 0 0 36%;
      border-right: 1px solid #d9dde2;
      @include mq-down(md) {
        border: none;
        margin-top: 0;
      }

      .ttl {
        font-size: 2rem;
        line-height: 1.4;
        @include mq-down(md) {
          font-size: 1.8rem;
          text-align: center;
        }

        .small {
          font-size: 1.5rem;
          @include mq-down(md) {
            font-size: 1.4rem;
            display: block;
            margin-top: 6px;
          }
        }
      }
      .tel-num {
        margin-top: 40px;
        @include mq-down(md) {
          margin-top: 20px;
          text-align: center;
          line-height: 1;
        }

        .txt-tel {
          font-family: $num;
          font-size: 2.4rem;
          font-weight: 400;
          @include mq-down(md) {
            font-size: 2rem;
          }
        }
        a {
          font-family: $num;
          font-size: 3.9rem;
          font-weight: 400;
          @include mq-down(md) {
            font-size: 3rem;
          }
        }
      }
      .c-blue-btn {
        width: 300px;
        height: 62px;
        position: relative;
        @include mq-down(md) {
          width: 220px;
          height: 51px;
          margin: 32px auto 0;
        }

        &::before {
          content: '';
          display: inline-block;
          width: 20px;
          height: 1px;
          background-color: #d9dde2;
          position: absolute;
          bottom: -32px;
          left: 50%;
          transform: translateX(-50%);
          @include mq-down(md) {
            content: none;
          }
        }
      }
      .address {
        margin-top: 54px;
        font-weight: 400;
        @include mq-down(md) {
          margin-top: 24px;
          font-size: 1.3rem;
          text-align: center;
        }
      }
    }
    &__nav {
      flex: 1 1 auto;
      padding-left: 8%;
      @include mq-down(md) {
        padding-left: 0;
      }

      .nav {
        &__list {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-wrap: wrap;
          margin-top: -12px;
          @include mq-down(md) {
            margin-top: 0;
          }

          &__item {
            margin: 12px 0;
            flex: 0 0 50%;
            padding-right: 5%;
            @include mq-down(md) {
              flex: 0 0 auto;
              margin: 4px 0;
              padding-right: 0;
              margin-right: 8%;
            }
          }
        }
      }
    }
  }
  &__gaList {
    margin-top: 72px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    @include mq-down(md) {
      display: block;
      margin-top: 32px;
      text-align: center;
    }

    &__item {
      margin-right: 3.3%;
      @include mq-down(md) {
        margin-right: 0;
        margin-top: 4px;
        &:first-child {
          margin-top: 0;
        }
      }

      &:last-child {
        margin-right: 0;
      }
      .txt {
        font-size: 1.2rem;
      }
    }
  }

}
