// Foundation
@use '../foundation/mixins' as *;
@use '../foundation/variables' as *;

/* ============================================
// FOOTER
// ==========================================*/
.footer {
  margin-top: 150px;

  &__recruit {
    .recruit {
      &__head {

      }
      &__body {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;

        .img-holder {
          flex: 0 0 50%;
          .img {
            height: 600px;
          }
        }
        .txt-holder {
          flex: 1 1 auto;
          background-color: #a1abb6;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;

          .wrap {
            max-width: 500px;
            @include mq-down(xl) {
              max-width: 440px;
            }
          }
          .lead {
            font-size: 3.6rem;
            line-height: 1.7;
          }
          .desc {
            margin-top: 32px;
          }
          .c-more-btn {
            margin-top: 28px;
          }
        }
      }
    }
  }
  &__body {
    &__top {
      a {

      }
      .img {

      }
    }
    &__bottom {

    }

    &__info {
      .ttl {

      }
      .tel-num {

      }
      .address {

      }
    }
    &__nav {
      .nav {
        &__list {
          &__item {
            a {

            }
          }
        }
      }
    }
  }

}

