// Foundation
@use '../foundation/variables' as *;
@use '../foundation/mixins' as *;

// HEADER
.header {
  position: absolute;
  z-index: 50;
  width: 100%;
  &__wrap {
    padding: 64px 72px;
    @include mq-down(md) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .logo-holder {
      width: 9.75%;
      max-width: 117px;
      @include mq-down(md) {
        width: 79.5px;
      }

      a {
        @include mq-up(md) {
          transition: opacity 0.5s;
          &:hover {
            opacity: 0.8;
          }
        }
      }
      .logo {
      }
    }
    .txt-recruit {
      width: 100%;
      height: 32px;
      background-color: $third-color;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
      border-radius: 2px;
      @include mq-down(md) {
        height: 28px;
      }

      span {
        font-size: 1.4rem;
        font-weight: bold;
        color: white;
        @include mq-down(md) {
          font-size: 1.2rem;
        }
      }
    }
  }
}
.front-page {
  .header {
    max-width: 1440px + 80px;
    padding: 0 40px;
    left: 50%;
    transform: translateX(-50%);
    @include mq-down(md) {
      padding: 0;
    }

    &__wrap {
      padding: 64px 32px;
      @include mq-down(md) {
        padding: 32px 24px;
      }
    }
  }
}

// D-BTN
.d-btn {
  position: fixed;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 101;
  &.js-open {
    .d-btn__wrap {
      span {
        &:nth-child(1) {
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          transform: rotate(45deg);
          margin-top: -1px;
        }
      }
    }
  }
  &.u-spOnly {
    position: fixed;
    top: 0;
    right: 0;
  }
  &__wrap {
    position: relative;
    width: 28px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    span {
      display: block;
      width: 28px;
      height: 2px;
      background: #000;
      transition: all 400ms $bezier-easeOutCubic;

      &:last-child {
        margin-top: 3px;
      }
    }
  }
}

// D-MENU
.d-menuOverlay {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: transparent;
  cursor: pointer;
  background: rgba(#000, 0.3);
  overflow: auto;
  transition: all 400ms $bezier-easeOutCubic;
  &.js-open {
    opacity: 1;
    visibility: visible;
    .d-menu {
      transform: translateX(0);
    }
  }
  .d-menu {
    position: absolute;
    z-index: 51;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    padding-top: 120px;
    padding-bottom: 80px;
    transform-origin: right;
    cursor: auto;
    background: #fff;
    transition: transform 400ms $bezier-easeOutSine;
    transform: translateX(100%);
    @include mq-up(md) {
      margin-right: 60px;
    }
    @include mq-down(sm) {
      padding-top: 100px;
    }
    .pages {
      margin-top: 30px;
      &__list {
        &__item {
          border-bottom: 1px solid #d9dde2;
          &:first-child {
            border-top: 1px solid #d9dde2;
          }
          .link {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 19px 6.6vw;
            font-size: 1.2rem;
            @include mq-up(md) {
              transition: opacity 0.3s;
              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
    .sns {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mq-down(sm) {
        margin-top: 30px;
      }
      &__ttl {
        text-transform: uppercase;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 700;
        margin-right: 13px;
      }
      &__icons {
        display: flex;
        align-items: center;
        &__item {
          width: 40px;
          height: 40px;
          &:not(:last-child) {
            margin-right: 10px;
          }
          .link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 99px;
            border: 1px solid rgba(#fff, 0.15);
            @include mq-up(md) {
              transition: opacity 300ms $bezier-easeOutSine;
              &:hover {
                opacity: 0.8;
              }
            }

            &.-fb {
              .icon {
                .img-box {
                  padding-top: 93%;
                }
              }
            }

            .icon {
              width: 20px;
              .img-box {
                padding-top: 100%;
              }
            }
          }
        }
      }
    }
  }
}
