// Foundation
@use '../foundation/variables' as *;
@use '../foundation/mixins' as *;

// HEADER
.header {
  position: absolute;
  z-index: 50;
  width: 100%;
  &__wrap {
    padding: 64px 72px;

    .logo-holder {
      max-width: 117px;
    }
    .txt-recruit {
      width: 117px;
      height: 32px;
      background-color: $third-color;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
      border-radius: 2px;

      a {
        font-size: 1.4rem;
        font-weight: bold;
        color: white;
      }
    }
  }
}
.front-page {
  .header {
    max-width: 1440px + 80px;
    padding: 0 40px;
    left: 50%;
    transform: translateX(-50%);

    &__wrap {
      padding: 64px 32px;
    }
  }
}

// D-BTN
.d-btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 102px;
  flex-shrink: 0;
  background: $primary-color;
  cursor: pointer;
  transition: background-color 400ms $bezier-easeOutCubic 0ms;
  z-index: 101;
  @include mq-up(md) {
    &:hover {
      background: $primary-dark;
    }
  }
  @media screen and (max-width: 768px) {
    display: flex;
  }
  @include mq-down(md) {
    // position: absolute;
    // top: 0;
    // right: 0;
    width: 56px;
    height: 75px;
    margin-left: 12px;
  }
  &.js-open {
    .icon {
      &:before {
        transform: translate(0, 0px) rotate(45deg);
      }
      &:after {
        transform: translate(0, -2px) rotate(-45deg);
      }
      span {
        display: none;
      }
    }
    &.u-spOnly {
      background-color: $primary-dark;
    }
  }
  &.u-spOnly {
    position: fixed;
    top: 0;
    right: 0;
  }
  &__wrap {
    position: relative;
    width: 24px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    @include mq-down(md) {
      width: 20px;
      height: 20px;
    }
    .icon {
      display: block;
      width: 100%;
      padding: 10px 0;
      height: 1px;
      @include mq-down(md) {
        padding: 8px 0;
      }
      span,
      &::before,
      &::after {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        transition: all 400ms $bezier-easeOutCubic;
      }
      &::before,
      &::after {
        content: '';
      }
      &:before {
        transform: translate(0, -6px);
        @include mq-down(md) {
          transform: translate(0, -5px);
        }
      }
      &:after {
        transform: translate(0, 6px);
        @include mq-down(md) {
          transform: translate(0, 5px);
        }
      }
    }
  }
}

// D-MENU
.d-menuOverlay {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: transparent;
  cursor: pointer;
  background: rgba(#000, 0.3);
  overflow: auto;
  transition: all 400ms $bezier-easeOutCubic;
  &.js-open {
    opacity: 1;
    visibility: visible;
    .d-menu {
      transform: translateX(0);
    }
  }
  .d-menu {
    position: absolute;
    z-index: 51;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    padding-top: 120px;
    padding-bottom: 80px;
    transform-origin: right;
    cursor: auto;
    background: $primary-dark;
    transition: transform 400ms $bezier-easeOutSine;
    transform: translateX(100%);
    @include mq-up(md) {
      margin-right: 60px;
    }
    @include mq-down(sm) {
      padding-top: 100px;
    }
    .pages {
      margin-top: 30px;
      &__list {
        &__item {
          border-bottom: 1px solid rgba(#fff, 0.15);
          &:first-child {
            border-top: 1px solid rgba(#fff, 0.15);
          }
          .link {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 20px 16px 12px;
            color: #fff;
            font-weight: bold;
            @include mq-up(md) {
              transition: opacity 0.3s;
              &:hover {
                opacity: 0.7;
              }
            }
            @include mq-down(sm) {
              padding: 12px;
            }
          }
        }
      }
    }
    .sns {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mq-down(sm) {
        margin-top: 30px;
      }
      &__ttl {
        text-transform: uppercase;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 700;
        margin-right: 13px;
      }
      &__icons {
        display: flex;
        align-items: center;
        &__item {
          width: 40px;
          height: 40px;
          &:not(:last-child) {
            margin-right: 10px;
          }
          .link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 99px;
            border: 1px solid rgba(#fff, 0.15);
            @include mq-up(md) {
              transition: opacity 300ms $bezier-easeOutSine;
              &:hover {
                opacity: 0.8;
              }
            }

            &.-fb {
              .icon {
                .img-box {
                  padding-top: 93%;
                }
              }
            }

            .icon {
              width: 20px;
              .img-box {
                padding-top: 100%;
              }
            }
          }
        }
      }
    }
  }
}
