@use './variables' as *;
@use './mixins' as *;

/*========================================
\\ Animation
//======================================*/
// animation
.anime {
  &.-fadeIn {
    opacity: 0;
    &.js-active {
      @include animation(
        fadein-opacity 600ms $bezier-easeOutSine 100ms
      );
    }
  }
  &.-slideIn-b-40 {
    opacity: 0;
    &.js-active {
      @include animation(
        fadein-b-40 500ms $bezier-easeOutSine 100ms
      );
    }
  }
  &.-boundOut-b-40 {
    opacity: 0;
    &.js-active {
      @include animation(
        fadein-b-40 800ms $bezier-easeOutBack 100ms
      );
    }
  }
  &.-slideIn-r-40 {
    opacity: 0;
    &.js-active {
      @include animation(
        fadein-r-40 500ms $bezier-easeOutSine 100ms
      );
    }
  }
  &.-slideIn-l-40 {
    opacity: 0;
    &.js-active {
      @include animation(
        fadein-l-40 500ms $bezier-easeOutSine 100ms
      );
    }
  }
  &.-scale {
    transform: scale(0);
    &.js-active {
      @include animation(
        scale-0-1 500ms $bezier-easeOutSine 100ms
      );
    }
  }

  // @for
  &.-for-boundIn-b-40 {
    span {
      display: inline-block;
      opacity: 0;
    }
    &.js-active {
      @for $i from 1 through 30 {
        span:nth-child(#{$i}) {
          @include animation(
            fadein-b-40 600ms $bezier-easeOutBack ($i * 35ms)
          );
        }
      }
      &.-delay {
        @for $i from 1 through 30 {
          span:nth-child(#{$i}) {
            @include animation(
              fadein-b-40 600ms $bezier-easeOutBack
                (($i * 50ms) + 400ms)
            );
          }
        }
      }
    }
  }
  &.-for-boundIn-r-40 {
    span {
      display: inline-block;
      opacity: 0;
    }
    &.js-active {
      @for $i from 1 through 30 {
        span:nth-child(#{$i}) {
          @include animation(
            fadein-r-40 600ms $bezier-easeOutSine ($i * 35ms)
          );
        }
      }
      &.-delay {
        @for $i from 1 through 30 {
          span:nth-child(#{$i}) {
            @include animation(
              fadein-r-40 600ms $bezier-easeOutSine
                (($i * 50ms) + 400ms)
            );
          }
        }
      }
    }
  }
}

// 汎用アニメーション
// FADEIN
@include keyframes(fadein-r-40) {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@include keyframes(fadein-l-40) {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@include keyframes(fadein-b-40) {
  0% {
    opacity: 0;
    transform: translate(0, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@include keyframes(fadein-b-20) {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@include keyframes(fadein-rb-20) {
  0% {
    opacity: 0;
    transform: translate(20px, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@include keyframes(fadein-rb-40) {
  0% {
    opacity: 0;
    transform: translate(40px, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@include keyframes(fadein-opacity) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@include keyframes(fadein-scale) {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  50% {
    transform: scale(1.115);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@include keyframes(fadein-b-scale) {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.2);
  }
  50% {
    transform: translateY(-10px) scale(1.115);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@include keyframes(fadein-b-rotateX) {
  0% {
    opacity: 0;
    transform: translateY(10%) rotateX(90deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotateX(0);
  }
}
@include keyframes(fadein-l-rotateY) {
  0% {
    opacity: 0;
    transform: translateX(-10%) rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotateY(0);
  }
}

// SCALE ANIMATION
@include keyframes(scale-0-1) {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@include keyframes(scale-1-0) {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@include keyframes(scaleX-0-1) {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@include keyframes(scaleX-1-0) {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@include keyframes(scaleX-0-1-0) {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  45% {
    transform: scaleX(1);
  }
  50% {
    transform-origin: left;
  }
  51% {
    transform-origin: right;
  }
  65% {
    transform: scaleX(1);
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
@include keyframes(scaleY-0-1) {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@include keyframes(scaleY-1-0) {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

// 固有アニメーション

@include keyframes(waveY-20) {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@include keyframes(fadein-b-rotateX-reverse) {
  0% {
    opacity: 0;
    transform: translateY(10%) rotateX(90deg) scale(-1,1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotateX(0) scale(-1,1);
  }
}
@include keyframes(imgZoomUp) {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.05);
  }
}
