// Foundation
@use '../foundation/variables' as *;
@use '../foundation/mixins' as *;

// ICON-BUTTON
// ---------------
// | [icon] text |
// ---------------
.icon-btn {
  width: 100%;
  height: 100%;
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $primary-color;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    padding: 15px 25px 15px 20px;
    border-radius: 50px;
    transition: background-color 400ms $bezier-easeOutCubic 0ms;
    border: 2px solid $primary-color;

    transition: opacity 0.3s;
    @include mq-up(md)  {
      &:hover {
        opacity: 0.7;
      }
    }

    .icon {
      order: -1;
      width: 15px;
      margin-right: 8px;
      & > .img-box {
        padding-top: 100%;
      }
    }
  }

  &.-white {
    .link {
      color: #fff;
      border: 2px solid #fff;
    }
  }
  &.-fillgreen {
    .link {
      background-color: $primary-color;
      color: #fff;

      .icon {
        width: 14px;
      }
    }
  }
}

// ARROW-BUTTON
// ---------------
// （   text   → ）
// ---------------
.arrow-btn {
  width: 100%;
  height: 100%;
  .link {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $txt-color;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 99px;
    padding: 0 40px;
    transition: background-color 400ms $bezier-easeOutCubic 0ms;
    @include mq-up(md) {
      &:hover {
        &:before {
          transform: translateX(4px);
        }
      }
    }
    @include mq-down(md) {
      font-size: 1.5rem;
    }
    @include mq-down(sm) {
      font-size: 1.4rem;
    }

    &.-reverse {
      &:before {
        transform: scale(-1,1);
        right: auto;
        left: 20px;
      }
    }

  }
}

// BACK-BUTTON
// ---------------
// | ←   text    |
// ---------------
.back-btn {
  width: 100%;
  height: 100%;
  .link {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: $primary-color;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    padding: 12px 10px 12px 20px;
    border-radius: 99px;
    transition: background-color 400ms $bezier-easeOutCubic 0ms;
    @include mq-up(md) {
      &:hover {
        color: #fff;
        background-color: $primary-dark;
        &:before {
          transform: scaleX(-1) translateX(4px);
        }
      }
    }
    @include mq-down(md) {
      font-size: 1.5rem;
    }
    @include mq-down(sm) {
      font-size: 1.4rem;
    }
  }
}
