// Foundation
@use '../foundation/variables' as *;
@use '../foundation/mixins' as *;

/* ページトップボタン */
.pageTop {
  @include mq-down(md) {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.4s;
  }
  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    padding: 16px 0;
    transition: opacity 0.3s;
    @include mq-up(md) {
      &:hover {
        opacity: 0.7;
      }
    }
    @include mq-down(md) {
      padding: 14px 12px;
    }

    .icon {
      .img-box {
        width: 18px;
        height: 9px;
        margin: 0 auto;
      }
      .txt {
        color: #fff;
        display: inline-block;
        margin-top: 10px;
        font-weight: 500;
      }
    }
  }
}
.js-scroll {
  .pageTop {
    @include mq-down(md) {
      opacity: 1;
    }
  }
}
.lower-kyujin_d {
  .pageTop {
    @include mq-down(md) {
      bottom: 72px;
    }
  }
}
