// Foundation
@use '../../foundation/variables' as *;
@use '../../foundation/mixins' as *;

.c-more-btn {
  display: inline-block;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $primary-color;
    border-radius: 20px;
    padding: 3px 24px;

    &:after {
      content: '';
      display: inline-block;
      background-image: url(../img/common/ico_arrow.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 7px;
      height: 14px;
      margin-left: 12px;
    }
  }

  &.-white {
    a {
      color: #fff;
      border: 1px solid #fff;
      &:after {
        content: '';
        background-image: url(../img/common/ico_arrow_white.png);
      }
    }
  }
}